@import url(/base.css);

body {
  display: grid;
  grid-template-rows: 10rem 2rem 1fr 2rem;
}

/* HEADER */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

header menu a {
  margin: 0.5rem;
}

/* NAV*/

nav menu {
  display: flex;
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1rem;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: center;

  gap: 1rem;
}

/* MEDIA QUERY */
@media (min-width: 600px) {
  body {
    grid-template-columns: 10rem 1fr;
    grid-template-rows: 5rem 1fr;
  }

  /* HEADER */

  header,
  footer {
    grid-column: span 2;
  }

  body > header {
    flex-direction: row;
  }

  body > nav,
  main {
    grid-row: span 2;
  }

  /* NAV*/

  body > nav menu {
    flex-direction: column;
  }

  /* FOOTER */
  footer {
    align-items: center;
    height: 2rem;
    gap: 2rem;
  }
}
