@import url(/base.css);

body {
  display: grid;
  grid-template-rows: 10rem 2rem 1fr 2rem;
}

/* HEADER */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

header form {
  display: flex;
}

header menu {
  display: flex;
  gap: 1rem;
}

header li {
  display: flex;
}

/* NAV*/

body > nav menu {
  display: flex;
}

/* MAIN */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}

article {
  position: relative;
}

article p.price {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* Otra opción para el article con display flex

article {
  display: flex;
  flex-direction: colum;
}

article .description{
  flex-grow:1;// Se le pone 1 para que ocupa todo el espacio por defecto siempre tiene 0 por eso le ponemos 1 para que crezca y ocupe todo el espacio// Si al título le pones flex-grow:2, crecerá más que la description ya que tiene un valor mayor.
}

*/

/* FOOTER */
footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* MEDIA QUERY */
@media (min-width: 600px) {
  body {
    grid-template-columns: 10rem 1fr;
    grid-template-rows: 5rem 1fr 2rem;
  }

  /* HEADER Y FOOTER*/

  header,
  footer {
    grid-column: span 2;
  }

  body > header {
    flex-direction: row;
    justify-content: space-between;
  }

  footer {
    justify-content: center;
    gap: 2rem;
  }

  /* NAV*/

  body > nav menu {
    flex-direction: column;
  }
}
