@import url(/base.css);

body {
  display: grid;
  grid-template-rows: 10rem 2rem 1fr 2rem;
}

/* HEADER */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

header menu a {
  margin: 0.5rem;
}

/* NAV*/

nav menu {
  display: flex;
}

/* MAIN */
main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

  gap: 1rem;
}

article {
  position: relative;
}

article p.price {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: center;

  gap: 1rem;
}

/* MEDIA QUERY */
@media (min-width: 600px) {
  body {
    grid-template-columns: 10rem 1fr;
    grid-template-rows: 5rem 1fr;
  }

  /* HEADER Y FOOTER*/

  header,
  footer {
    grid-column: span 2;
  }

  body > header {
    flex-direction: row;
    justify-content: space-between;
  }

  footer {
    align-items: center;
    height: 2rem;
    gap: 2rem;
  }

  /* NAV*/

  body > nav,
  main {
    grid-row: span 2;
  }

  body > nav menu {
    flex-direction: column;
  }
}
